apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarqube
  annotations:
    app.openshift.io/vcs-uri: https://github.com/SonarSource/docker-sonarqube
  labels:
    app.kubernetes.io/part-of: sonarqube
    app.openshift.io/runtime: java
    app.openshift.io/runtime-version: "17"
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: sonarqube
      app.kubernetes.io/component: frontend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: sonarqube
        app.kubernetes.io/component: frontend
    spec:
      containers:
      - name: sonarqube
        image: sonarqube:10.0.0-community
        # env:
        # - name: SONAR_JDBC_URL
        #   value: jdbc:postgresql://pod-ip-address.my-namespace.pod.cluster.local:5432/dbsample
        # - name: SONAR_JDBC_USERNAME
        #   value: user
        # - name: SONAR_JDBC_PASSWORD
        #   value: password
